<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://coreysutton01.crm6.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="admin@coreysutton01.onmicrosoft.com" />
    <add key="password" value="" />
    <add key="out" value="src/typings/xrm" />
    <add key="solutions" value="BudgetBlaster" />
    <add key="web" value="WebNs" />
    <add key="rest" value="RestNs" />
    <add key="jsLib" value="dist/js" />
    <add key="crmVersion" value="9"/>
    <add key="generateMappings" value="true"/>
    <add key="oneFile" value="true"/>
  </appSettings>
</configuration>