<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://coreysutton01.crm6.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="admin@coreysutton01.onmicrosoft.com" />
    <add key="password" value="vAW7bhy1ZJ7l" />
    <add key="out" value="src/typings/xrm" />
    <add key="solutions" value="" />
    <add key="entities" value="cs_budget" />
    <add key="web" value="" />
    <add key="jsLib" value="dist/js" />
  </appSettings>
</configuration>